In [ ]:
# Installing Necessary Packages
!pip install PyMySQL
!pip install mysql-connector-python
!pip install sqlalchemy
import os
import pymysql
import mysql.connector
from sqlalchemy import create_engine
import datetime
import pymongo
import pprint
import json

import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Specifying/Loading IDs
host_name = "localhost"
host_ip = "127.0.0.1"
port = "3306"

user_id = "ds2002"
pwd = "UVA!1819"
db_name = "project1"

In [ ]:
# Establish connection to MySQL Database 
try: 
    conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
    cursor = conn.cursor()

    df = pd.read_sql("SELECT * FROM table_name;", conn) # reads information from 'table_name' dataframe into a new dataframe called 'df'

    conn.close()
    df.head()
except Exception as e: 
    print(f"Error connecting to host: {e}")

In [ ]:
# Selecting all columns from 'table_name' dataframe
try: 
    sql_query = """
    SELECT * from table_name
    """
except Exception as e: 
    print(f"Error selecting information ")

In [ ]:
# Connecting to MySQL database using given credentials 
try:
    def get_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, sql_query):
        conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{db_name}"
        sqlEngine = create_engine(conn_str, pool_recycle=3600)
        connection = sqlEngine.connect()
        dframe = pd.read_sql(sql_query, connection); #reads dataframe into a pandas dataframe
        connection.close()
    
        return dframe
except Exception as e: 
    print(f"Error connecting to sqlalchemy_dataframe")

In [ ]:
# Creates connection to MySQL using given credentials and executes SQL query
try:
    df = get_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, sql_query)
except Exception as e: 
    print(f"Error loading sqlalchemy_dateframe")

In [ ]:
# Inserting 'table_name' dataframe into MySQL database table
try: 
    def insert_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, df, table_name):
        conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{db_name}"
        sqlEngine = create_engine(conn_str, pool_recycle=3600)
        connection = sqlEngine.connect()
        df.to_sql(table_name, con=connection, if_exists='replace') #, index_label='product_id');  'append'
   
        connection.close()
except Exception as e: 
    print(f"Error inserting Pandas Dataframe into a MySQL database table")

In [ ]:
# Inserting Pandas dataframe into MySQL database table using SQLAlchemy library
try: 
    insert_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, df_dim, 'dim_airlines')
except Exception as e: 
    print(f"Error inserting parameters into Pandas Dataframe")

In [ ]:
# Selecting data from dataframe and loading it into 'df' Pandas dataframe 
try: 
    df = get_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, 'SELECT * FROM dim_airlines')
    df.head()
except Exception as e: 
    print(f"Error passing query parameters")

In [ ]:
# This file creates a dimension via SQL. 
# It connects to MySQL and loads all necessary information into a dataframe called 'dim_airlines' to be used in the produced fact table.